<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <JsonLayout complete="false" compact="true" eventEol="true" 
                       locationInfo="true" 
                       properties="true" 
                       includeLoggerName="true"
                       includeContextMap="true">
            </JsonLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>
